extends ./layouts/main.pug

block content
  div(class="container py-5")
      div(class="jumbotron text-center")
        h1 Authentication Passport Test
        p(class="text-muted") Login or Register with:
        a(class="btn btn-light mx-1" href="/login") Local login
        a(class="btn btn-light mx-1" href="/signup") Local signup